[Dd]ebug/
[Rr]elease/
*.sln.cache
*.suo
*.csproj.user
[Bb]in/
[Oo]bj/
!/lib
*.user
*.suo
.nu
_ReSharper.*
_UpgradeReport.*
*.resharper.user
*.resharper
*.cache
*~
TestResult.xml
results
nuget


/src/Handlr/PartCover/coverage.xml
/src/partcover.driver.log